Source: bcftools
Section: science
Priority: optional
Maintainer: Stuart Teasdale <stuart.teasdale@genomicsplc.com>
Build-Depends: debhelper (>= 8.0.0), libblas-dev
Standards-Version: 3.9.4

Package: bcftools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: samtools (<< 1.0)
Description: variant calling and manipulating VCFs and BCFs
 Bcftools is a program for variant calling and manipulating VCFs and BCFs. It
 replaces the original samtools BCF calling from bcftools subdirectory of
 samtools and renders obsolete most of the perl VCFtools.


